
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper{
    flex: 1;
}

.container {
    width: 90%;
    /* max-width: 1400px; */
    margin: 0 auto;
}

.titulo {
    text-align: center;
    font-size: 45px;
}

.seccion {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 40px auto 0px;
}

.header-bg {
    background-color: rgb(53, 52, 52);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(226, 220, 220);
    padding: 20px 0px;
}

.links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navegacion .links .link a {
    text-decoration: none;
    color: inherit;
}

.navegacion .links .link a:hover {
    text-decoration: none;
    color: inherit;
}

.navegacion .links .link a:visited {
    text-decoration: none;
    color: inherit;
}
/* 
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: none} */

.link {
    font-size: 20px;
    color: white;
}


.link:hover {
    cursor: pointer;
    color: rgb(180, 177, 177);
}


.edificio {
    margin-top: 70px;
}

.decoracion {

    width: 50%;
    height: 2px;
    background-color: rgb(231, 228, 228);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(203, 207, 144);
}

.imagen-edificio {
    width: 800px;
    margin-top: 30px;
}


.imagenes-ubicacion {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: 500px;
    align-items: center;
}

.Pie-pagina{
    height: 150px;
    background-color: rgb(53, 52, 52);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 45px;
    padding: 0, 0;
    margin-top: 25px;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links a {
    color: #333;
    text-decoration: none;
}

.footer-credits {
    text-align: center;
    font-size: 14px;
    color: #999;
}