body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f1f1f1;
}

.content-wrapper {
    flex: 1 0 auto;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
}

.seccion {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 40px auto 0px;
}

.header-bg {
    background-color: rgb(53, 52, 52);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(226, 220, 220);
    padding: 20px 0px;
}

.links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navegacion .links .link a {
    text-decoration: none;
    color: inherit;
}

.navegacion .links .link a:hover {
    text-decoration: none;
    color: inherit;
}

.navegacion .links .link a:visited {
    text-decoration: none;
    color: inherit;
}

.link {
    font-size: 20px;
    color: white;
}

.link:hover {
    cursor: pointer;
    color: rgb(180, 177, 177);
}

.inicio {
    text-align: center;
    padding: 20px 0;
}

.inicio p {
    font-size: 18px;
}

.inicio ul {
    list-style-type: none;
    padding: 0;
}

.inicio li {
    font-size: 18px;
    margin-bottom: 5px;
}

.inicio li a {
    color: #4e8aec;
    text-decoration: none;
}

.inicio li a:hover {
    text-decoration: underline;
}

/* Estilo para el menú de navegación */
.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.main-content {
    margin-left: 200px; 
    padding: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
    .navbar a {
      display: block;
      text-align: left;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    overflow: hidden;
    min-width: 300px;
    max-width: 600px;
    margin: 40px auto 0px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    background-color: white;
    width: 100%;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.card-content p {
    text-align: justify;
    margin-bottom: 15px;
}

.card-content a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #4e8aec;
    font-weight: bold;
}

.card-content a:hover {
    text-decoration: underline;
}

/* checa bien el margin-botton */

.google-map {
    height: 400px;
    width: 80%;
    margin-bottom: auto;
}

.Pie-pagina {
    height: 150px;
    background-color: rgb(53, 52, 52);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 45px;
    padding: 0, 0;
    margin-top: 25px;
    flex-shrink: 0;
}

.biografias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Centra los elementos en la línea cuando hay espacio extra */
    gap: 20px; /* Proporciona espacio entre los elementos */
}

.biografia-card {
    background: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 1em auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: calc(33% - 20px); /* Esto hace que tres tarjetas llenen una línea */
}

.biografia h2 {
    margin: 0 0 15px 0;
    color: #8B4513; 
    font-size: 1.8em;
}

.biografia p {
    margin: 0 0 15px 0;
    line-height: 1.6;
    text-align: center;
}

/* Estilo para el carrusel de edificios */
.edificios {
    display: flex;
    overflow: scroll;
    gap: 20px;
    margin: 20px 0;
    padding: 20px 0;
}

.edificios .edificio {
    flex: 0 0 auto;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.edificios .edificio h2 {
    margin-bottom: 10px;
    color: #8B4513; 
    font-size: 1.5em;
    text-align: center;
}

.edificios .edificio p {
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.4;
    text-align: center;
}

/* Estilos para la paginación */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.pagination a {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #ddd;
    color: #333;
}

/* Estilos para el formulario de inserción de edificios (solo visible cuando se ha autenticado)
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border-radius: 10px;
}

form label {
    font-weight: bold;
    font-size: 1.2em;
}

form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    cursor: pointer;
    background-color: #4e8aec;
    color: #fff;
}

form input[type="submit"]:hover {
    background-color: #3076b0;
}

tus otros estilos existentes */



@media only screen and (max-width: 768px) {
    .biografia {
        width: 95%;
    }
}

@media (max-width: 800px) {
    .biografia-card {
        width: calc(50% - 20px); /* Mostrar 2 tarjetas por línea en pantallas pequeñas */
    }
}

@media (max-width: 500px) {
    .biografia-card {
        width: 100%; /* Mostrar 1 tarjeta por línea en pantallas muy pequeñas */
    }
}
